body {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
.App {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btngrp {
  display: flex;
}

.btnspace {
}

button {
  background-color: #df7d85;
  padding: 25px 60px;
  border-radius: 15px;
  margin-left: 34px;
  font-size: large;
}
button:hover {
  background-color: #faecbb;
}
.gif-card {
  text-align: center;
  /* Add any additional styling as needed */
}
